.app-nav{
  width: 20%;
  height: 100%;
  display: inline-block;
  background-color: darkcyan;
}

.app-router{
  display: inline-block;
}

.app-nav p{
  color: white;
  padding: 6px 0px 6px 5px;
  margin: 0;
}

